 body{
            background-color: rgb(119, 118, 118);
            font-family: 'Alkatra', cursive;
            font-family: 'Tilt Neon', cursive;
            font-family: 'Ubuntu', sans-serif;
        }
.card {
     border: 1px solid black;
     padding: 10px;
     width: 300px;
     margin: 0 auto;}
.box{
    background-color: rgb(129, 160, 187);
    border:3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    }
    
.card-element{
    margin-top: 10px;
}

.card-element h2{
    color: crimson;
    margin-left: 5px;
}

.card-element h4{
    margin-left:10px;
}